.property-card {
  display: flex;
  border: 1px solid #e0e0e0;
  border-radius: 0;
  overflow: hidden;

  width: 100%;
  max-width: 1270px;
  margin: 20px auto;

  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.property-card:hover {
  transform: translateY(-5px);
}

.property-image {
  position: relative;
  flex: 0 0 40%; /* 🔥 clave */
  aspect-ratio: 16 / 9; /* 🔥 reemplaza height */
  overflow: hidden;
}

/* imagen */
.property-image .img {
  object-fit: cover;
}

/* 🔥 DEGRADADO NEGRO */
.property-image .overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 40%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

/* badge arriba izquierda */
.property-image .status {
  position: absolute;
  top: 15px;
  left: 0;
  background: #2d5d8d;
  color: #fff;
  padding: 6px 12px;
  padding-left: 30px;
  border-radius: 0 4px 4px 0;
  font-size: 16px;
  font-weight: bold;
  z-index: 2;
}

/* precio abajo izquierda */
.property-image .price {
  position: absolute;
  bottom: 20px;
  left: 15px;
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  z-index: 2;
}

.property-info {
  flex: 1 1 60%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.property-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #2d5d8d;
}

.property-info p {
  color: #000000;
  line-height: 1.5;
}

.property-details {
  display: flex;
  gap: 15px;
  margin-top: 15px;
  font-size: 16px;
  color: #909090;
  align-items: center;
}
.property-image {
  position: relative;
}
.description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.5;
  max-height: calc(1.5em * 3);
}
.detail-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.separator {
  color: #ccc;
}
