html, body {
    padding: 0px;
    margin: 0px;
    color: #101010;
    user-select: none;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

p {
    margin: 0px;
    font-size: 16px;
}

.content {
    display: flex;
    padding: 50px 100px;
    flex: 1;
}
