.slider-wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.slider-title {
  font-size: 16px;
  span { font-weight: 600; }
}

.slider-container {
  width: 100%;
  min-height: 40px;
  position: relative;
}

.thumb {
    width: 100%;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    background-color: transparent;
    appearance: none;
    pointer-events: none;
}

.thumb::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    background-color: #2D5D8D;
    border: 0px;
    border-radius: 50%;
    pointer-events: all;
    cursor: pointer;
}

.thumb::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background-color: #2D5D8D;
    border: 0px;
    border-radius: 50%;
    pointer-events: all;
    cursor: pointer;
}

/* Barra */
.slider-track,
.slider-range {
  position: absolute;
  height: 8px;
  border-radius: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.slider-track {
  width: 100%;
  background: #E0E0E0;
}

.slider-range {
  background: #2D5D8D;
}
